<main>
<body>

<% data.forEach( item => { %>
<div class="container addToDash">
    <div class="row row-md-8" >
        <div class="blog-box" width="750px">

            <a href=" <%= item.post_url %>" ><h4 class="blog_name"><%= item.blog_name %></h4></a>
            <%= item.description %>
                <div class="iconOnImage">
                <a href=" <%= item.url %>"><img src="<%= item.link_image %>"></a> 
                <a href="#"><i class="fas fa-download"></a>
                    <div class="form-group">
                        <input type="text" name="comment" class="form-control rounded-0" value="Enter comment...">
                        </div>
                </div>
        </div>
    </div>
</div>
<% }) %>

</body>

</main>